@import "https://fonts.googleapis.com/css?family=Rancho&effect=fire-animation";
h1 {
    font-family: Rancho;
    font-size: 100px;
    margin: 40px 0;
    text-align: center;
}

body {
    background-color: #7f0000;
    padding-bottom: 70px;
}

div.background {
    background: url(../images/stars-and-stripes2.jpg) repeat;
    border: 2px solid black;
}

.navbar-fixed-bottom {
    background-image: url(../images/stars1.jpeg);
    background-repeat: repeat-x;
}

#topNav {
    background-color: white;
    margin-bottom: 20px;
}

.topNavLi {
    color: #7f0000;
    font-weight: bold;
}

#issuePull{
  margin-left: 100px;
}

.form-control{
  width:350px !important;
}


.hide {
    display: none;
}

.show{
    display:    block;
}

